[Desktop Entry]
Encoding=UTF-8
X-TDE-ServiceTypes=inode/directory
ServiceTypes=inode/directory
X-TDE-Priority=TopLevel
Actions=ShareWithSamba

[Desktop Action ShareWithSamba]
Name=Share...
Name[fr]=Partager...
Name[de]=Freigeben...
Name[es]=Compartir...
Name[it]=Condividi...
Icon=network
Exec=tdeshare %U
