[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=ShareWithSamba;
X-KDE-Priority=TopLevel

[Desktop Action ShareWithSamba]
Name=Share...
Name[fr]=Partager...
Name[de]=Freigeben...
Name[es]=Compartir...
Name[it]=Condividi...
Icon=network
Exec=tdeshare %U
